.aboutWrapper {
  width: 100%;
  height: 80vh;
  display: flex;
}
.profileWrapper {
  display: flex;
  flex-direction: column;
}
.profilePictureWrapper {
  height: 25vh;
}
.profilePicture {
  height: 150%;
  padding-left: 15%;
  padding-top: 0vh;
  border-radius: 100%;
}

.name {
  text-align: center;
  margin-top: 30vh;
  font-size: 140%;
}
.introductionWrapper {
  width: 100%;
  height: 50vh;

}
.introduction {
  margin: 0vh 10% 5vh 10%;
  padding-top: 5vh;
  letter-spacing: 0.1em;
  line-height: 150%;
  font-size: 120%;
  text-align: justify;
}
.toolsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-height: 200px;
  width: 70%;
  margin: 5vh 0 5vh 15%;
}

.tools {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 5px;
  flex: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.firstTool {
  margin-left: 15px;
}
/* Generate random widths */
.tools:nth-child(1) {
  padding-left: 80px;
  padding-right: 80px;
}

.tools:nth-child(2) {
  padding-left: 50px;
  padding-right: 50px;
}
.tools:nth-child(3) {
  padding-left: 10px;
  padding-right: 10px;
}
.tools:nth-child(4) {
  padding-left: 40px;
  padding-right: 40px;
}
.tools:nth-child(5) {
  padding-left: 25px;
  padding-right: 25px;
}
.tools:nth-child(6) {
  padding-left: 30px;
  padding-right: 30px;
}
.tools:nth-child(7) {
  padding-left: 40px;
  padding-right: 40px;
}
.tools:nth-child(8) {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1000px) {
  .aboutWrapper {
    height: auto;
    flex-direction: column;
  }
  .profileWrapper {
    flex-direction: row;
    height: 25vh;
  }
  .name {
    margin-left: 30%;
  }
  .introductionWrapper {
    margin-top: 20vh;
    margin-bottom: 10vh;
  }
  .introduction {
    margin: 0vh 5% 5vh 5%;
    padding-top: 5vh;
  }
  .toolsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: 200px;
    width: 90%;
    margin: 5vh 0 5vh 5%;
  }
  .firstTool {
    margin-left: 5px;
  }
}
@media (max-width: 500px) {
 
  .name {
    margin-left: 15%;
  }
}
@media (max-width: 420px) {
  .name {
    margin-left: 0;
  }
  .introductionWrapper {
    margin-bottom:50vh;
  }
}
