.contactWrapper {
  display: flex;
  height: 100%;
}
.emailWrapper {
  width: 60%;
  height: 75vh;
  padding: 5vh 5% 5vh 5%;
}
.linkWrapper {
  width: 20%;
  height: 75vh;
  padding-top: 5vh;
  padding-left: 5%;
  padding-right: 5%;
  background-color: cornflowerblue;
}
.flexBoxContainer {
  display: flex;
  width: 100%;
}
.field {
  width: 100%;
  margin: 2vh 0 2vh 0px;
}
.form-control {
  background-color: white;
  height: 5vh;
  border-radius: 10px;
  border: 0px;
  min-height: 30px;
  padding-left: 2.5%;
  width: 97.5%;
  top: 50px;
}

.messageContainer {
  position: relative;
  width: 100%;
  height: 25vh;
}
.message-form {
  width: 95%;
  height: 25vh;
  border-radius: 10px;
  border: 0px;
  padding: 2.5%;
  text-align: left;
  resize: none;
}

.sendEmailButton {
  cursor: pointer;
  /* height: 5vh; */
  margin: auto;
  padding: 1.25vh 0px 1.25vh 0px;
  border-radius: 10px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  font-weight: bolder;
  margin-top: 10vh;
  text-align: center;
  width: 50%;
  border: 1px solid white;
  color: white;
}

.sendEmailButton:hover {
  background-color: white;
  color: cornflowerblue;
}

.contactTileWrapper {
  /* background-color: red; */
  height: 75vh;
  display: flex;
  flex-direction: column; /* Stack the rows vertically */
  align-items: center; /* Center the rows horizontally */
}

/* .tile {
  width: 90%;
  margin: 2vh;
  align-items: center;
  color: white;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
}
.tile:hover {
  border-color: white;
}

.callMe {
  cursor: pointer;
  padding: 2vh;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 2vh;
} */
.tile {
  width: 90%;
  margin: 2vh;
  align-items: center;
  color: white;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 10px;
}

.tile:hover {
  border-color: white;
}

.callMe {
  cursor: pointer;
  padding: 2vh;
  display: block; /* Display the <a> tag as a block-level element */
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 2vh;
  display: block; /* Display the <a> tag as a block-level element */
}

a:visited {
  color: white;
}

a:active {
  color: white;
}

@media (max-width: 1000px) {
  .contactsWrapper {
    width: 96vw;
    height: 100vh;
    margin-left: 2vw;
  }
  .flexBoxContainer {
    flex-direction: column;
    padding-top: 2vh;
  }
  .form-control {
    padding-left: 2%;
  }

  .field {
    width: 100%;
    margin: 0vh 0 2vh 0px;
  }

  .messageContainer {
    width: 100%;
    padding: 0vh 0vw 5vh 0vw;
    height: 30vh;
  }
  .message-form {
    max-height: 30vh;
    max-width: 96%;
    min-width: 96%;
    min-height: 30vh;
    padding: 2%;
  }
  .sendEmailButton {
    margin-top: 5vh;
  }
}
