.projectWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
}

.projectTitleContainer {
  width: 5%;
  min-height: 50px;
  height: calc(10% - 2px);
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  border-color: transparent;
  border-radius: 2px;
  margin: 3px;
  margin-left: 0%;
}

.projectTitleContainer:hover {
  border-color: grey;
  border-right: 0px;
}
.projectTitleContainer.active {
  border-color: grey;
  border-right: 100%;
}

.projectTitle {
  font-size: 250%;
  background-color: white;
  font-weight: 300;
  overflow-y: visible;
  margin: 3px;
}

.upperWrapper {
  display: flex;
  height: 50vh;
}
.description {
  letter-spacing: 0.1em;
  line-height: 150%;
  font-size: 120%;
  padding: 5%;
  text-align: justify;
  overflow: auto;
  display: block;
}
.projectImageWrapper {
  background-color: white;
}
.projectImage {
  height: 50vh;
}
.buttonWrapper {
  font-size: 120%;
  text-align: center;
  margin-top: 5%;
  cursor: pointer;
  letter-spacing: 0.1em;
}
.demoButton {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 1vh;
}
.codeButton {
  border: 1px solid transparent;
  cursor: pointer;
  padding: 1vh;
}
.demoButton:hover {
  border-color: black;
}
.codeButton:hover {
  border-color: black;
}

@media (max-width: 1000px) {
  .projectWrapper {
    flex-direction: column;
    height: auto;
  }
  .upperWrapper {
    display: flex;
    height: auto;
    flex-direction: column;
  }
  .projectTitleContainer {
    margin-left: 5%;
  }
  .description {
    overflow: hidden;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .projectImageWrapper {
    display: flex;
    justify-content: center;
  }
  .buttonWrapper {
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 90%;
    margin-left: 5%;
  }
}
