.projectsLeft {
  height: 100vh;
  background-color: #958dba;
}
.todo {
  background-color: rgb(68, 154, 200);
}
.weather {
  background-color: rgb(114, 186, 225);
}
.calculator {
  background-color: #ba4933;
}
.ttt {
  background-color: #d99b5b;
}
